.cardCont {
    border: 1px solid ;
    padding: 20px;
    background-color: aqua;
    margin: 20px;
}

.createCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createContForm{
    display: flex;
    flex-direction: column;
    width: 20rem;
}